button {
  border: none;
  color: #fff;
  background-color: #b70032;
  border-radius: 5px;
}

.disabled {
  background-color: darken(#fff, 30%)
}

.page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}

.header{
  padding: 20px 0 0 0;
  justify-content: center;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: #fff;
  margin: 0 20px;

  h1 {
    font-size: 50px;
  }

  h3 {
    margin-left: 10px;
  }
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
  //width: fit-content;
    justify-content: center;
    background-color: #b70032;
}

.tile-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    //justify-content: space-evenly;
    //background-color: grey;
    width: 60vw;
    height: fit-content;
}

.status-tile {
    //max-width: 60%;
    width: 90%;
    height: fit-content;
    padding: 1em;
  margin: 15px 0;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  border-radius: 10px;
}

.highlight {
  color: #b70032;
  font-weight: bold;
}
